body
{
}

ul
{
    list-style-type:none;
    width:130px;
}

ul li
{
    overflow: hidden;
    margin: 6px 0;
    max-height: 1em;
}

ul li:hover
{
    max-height: 10em;
    text-decoration:underline;
}

.innerList
{
    max-height: 10em;
    padding: 0 0 0 5px;
    color: Gray;
}

.innerList li:hover
{
    max-height: 1em;
}
