body
{
}

p:first-line
{
    font-weight:bold;
}

p:first-letter
{
    font-family:Edwardian Script ITC;
    font-size:60px;
    font-weight: lighter;
}

p
{
    font-family:Consolas;
    color: #0094ff;
}