nav a{
    margin: 0px 10px 0px 10px;
}

#logout-user {
    margin: 0px 10px 0px 10px;
}

.post {
    border: 1px solid black;
    position:relative;
    margin:15px;
    width:500px;
    left:10%;
}

.post-title {
    margin: 10px 20px 0px 20px;
}

.post-content {
    border-top:1px solid black;
    margin:20px;
}

.leave-comment-button {
    float:right;
    margin: -10px 10px -10px 10px;
}