nav a{
    margin: 0px 10px 0px 10px;
}

#logout-user {
    margin: 0px 10px 0px 10px;
}

.post {
    border: 1px solid black;
    position:relative;
    margin:15px;
    width:500px;
    left:10%;
}

.comments-for-post {
    
    position: relative;
    width:400px;
    left:15%;
}

.comment {
    border-bottom: 1px dashed black;
}

.post-title {
    margin: 10px 20px 0px 20px;
}

.post-content {
    border-top:1px solid black;
    margin:20px;
}

.comment-buttons {
    float:right;
    margin: -10px 10px -10px 10px;
}

.show-comments {
    margin:0px 0px 0px 100px;
}

#submit-comment-text {
    position:relative;
    left:30%;
}

#submit-comment-button {
    display:block;
    position:relative;
    left:40%;
}