<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IStringSearchCount" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/_03.StringSearchCountLib/Service1/StringSearchCount%20Service"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStringSearchCount"
          contract="IStringSearchCount" name="WSHttpBinding_IStringSearchCount">
        <identity>
          <userPrincipalName value="COMPUTER\Georgi" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>