.aspLinkMenu {
    border:1px solid black;
    margin:10px;
    padding:5px;
    float:left;
    
}

.aspLinkMenu tr {
    display:inline-block;
}

.aspLinkMenuOption{
    margin:20px;
}

a{
    text-decoration:none;
    
}