body {
}

.GridFooter {
    position:absolute;
    max-height:0px;
    padding: 0;
    margin: 0;
    border:none;
}

#CountriesGrid_ButtonAdd {
    margin-right:8px;
}

.grid_input {
    margin-right:25px;
}


