<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <!--<handlers>
      <add verb="GET" name="Text to Image" type="ImageHandler" path="*.img"/>
    </handlers>-->
    <!--<handlers>
      <add verb="POST GET" path="*.img"
        name="Nakov's HTTP Handler" type="ImageHandler"/>
    </handlers>-->

    <handlers>
      <add  verb="*" path="*.img"
            name="Text to Image"
            type="_03.ReturnTextAsImage.ImageHandler"/>
    </handlers>


  </system.webServer>

  
</configuration>